@media screen and (max-width: 768px) {
  #box-content {
    position: relative;
    text-align: center;
  }

  h1 {
    width: 0 !important;
    position: relative !important;
    top: 30% !important;
  }

  #box {
    left: 27% !important;
  }

  img {
    width: 0 !important;
  }

  #icons {
    width: 0% !important;
  }
}
body {
  height: 100vh;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.3)),to(rgba(0,0,0,.3))),url(../images/wallpaper.b24bba72.jpg);
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../images/wallpaper.jpg);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin: 0 !important;
  color: black;
}

#box {
  background-color: white;
  padding: 5em;
  width: 30vw;
  position: absolute;
  top: 35%;
  left: 32%;
  text-align: center;
}

#box-content {
  text-align: center;
}

#form {
  margin-bottom: 20px;
}

.logo img[data-v-cd2b8d62] {
  width: 768px;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0,0,0,.2)) drop-shadow(0 8px 10px rgba(0,0,0,.14)) drop-shadow(0 3px 14px rgba(0,0,0,.12));
  filter: drop-shadow(0 5px 5px rgba(0,0,0,.2)) drop-shadow(0 8px 10px rgba(0,0,0,.14)) drop-shadow(0 3px 14px rgba(0,0,0,.12));
}

h1 {
  font-size: 2em !important;
  font-weight: bold;
}

img {
  font-size: 70%;
  margin-bottom: 70%;
}

.icon {
  display: inline-block;
  width: 50px;
  margin: 0px;
  margin-left: 0.6%;
  margin-right: 0.6%;
  padding: 0px;
}

#icons {
  width: 100%;
  text-align: center;
  font-size: 80%;
  margin-bottom: 8em;
  margin-left: 1em;
}

a {
  font-size: 120%;
  color: blue;
  margin-bottom: 5%;
}

#help-box {
  font-size: 200%;
}

p {
  size: 0px;
  padding: 0px;
  margin: 0px;
  height: 48px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#button {
  background-color: #d32f2f;
  border-radius: 0;
  margin-top: 10%;
}