{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'frontend/images/27146352.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'frontend/css/materialize.min.css' %}"  media="screen,projection"/>
    <script src="{% static 'frontend/js/materializecss/materialize.min.js' %}"></script>
    <title>Wulkanowy | Aplikacja ucznia i rodzica</title>
  </head>
    <body>
    <div data-v-cd2b8d62 data-v-09be56d6 id="container">
      <div id="row">
        <h1 data-v-cd2b8d62="" class="logo">
          <img data-v-cd2b8d62 src="{% static 'frontend/images/wulkanowy-full-flat.4ff8222a.svg' %}" alt="Wulkanowy">
        </h1>
        <div class="card white darken-1">
          <div id="content" class="card-content">

          </div>
        </div>
      </div>
    <script type="text/javascript" src="{% static 'frontend/js/dist/out-account_manager.js' %}" defer></script>
    <script>
      var elem = document.querySelector('.tabs');
      var options = {}
      var instance = M.Tabs.init(elem, options);
    </script>
  </body>
</html>