{% load static %}

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{% static 'main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'error.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/27146352.png' %}">
    <link rel="stylesheet" media="min-width: 768px" href="{% static 'error.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Wulkanowy | Aplikacja ucznia i rodzica</title>
  </head>
  <body onload="plchol()">
    <div data-v-cd2b8d62 data-v-09be56d6 id="container">
      <div id="form">
      <h1 data-v-cd2b8d62="" class="logo">
        <img data-v-cd2b8d62 src="{% static 'img/wulkanowy-full-flat.4ff8222a.svg' %}" alt="Wulkanowy">
      </h1>
      <form action='' method="POST" class="box">{% csrf_token %}
        <h1>Zaloguj się na konto rodzica lub ucznia</h1>
        {{ form.as_p }}
        <div id="con"></div>
        <h2>{{ error }}</h2>
        <a href="/pomoc/">Gdzie mogę znaleźć symbol?</a>
        <input id="button" type="submit" value="Login">
      </div>
      <div id="icons">
        <a href="mailto:wulkanowyinc@gmail.com" style="text-decoration: none;">
          <img src="{% static 'img/email.ce588d18.svg' %}" class="icon" style="width: 55px;" alt="E-mail">
        </a>
        <a href="https://discord.com/invite/vccAQBr" style="text-decoration: none;">
          <img src="{% static 'img/discord.e9241a54.svg' %}" class="icon" alt="Discord">
        </a>
        <a href="https://github.com/wulkanowy/" style="text-decoration: none;">
          <img src="{% static 'img/github.9c30fa5a.svg' %}" class="icon" style="width: 55px;" alt="Github">
        </a>
        <a href="https://www.paypal.com/paypalme/wulkanowy" style="text-decoration: none;">
          <img src="{% static 'img/paypal.9fd1b9bc.svg' %}" class="icon" alt="Paypal">
        </a>
      </div>
      </div>
    </div>
  </body>
</html>