{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{% static 'css/start.css' %}" type="text/css" />
  <script src="{% static 'js/start.js' %}" type="text/javascript" ></script>
  <script src="{% static 'js/grades.js' %}" type="text/javascript" defer></script>
  <script src="{% static 'js/timetable.js' %}" type="text/javascript" defer></script>
  <script src="{% static 'js/exams.js' %}" type="text/javascript" defer></script>
  <script src="{% static 'js/notes.js' %}" type="text/javascript" defer></script>
  <script src="{% static 'js/attendance.js' %}" type="text/javascript" defer></script>
  <script src="{% static 'js/homeworks.js' %}" type="text/javascript" defer></script>
  <script src="{% static 'js/messages.js' %}" type="text/javascript" defer></script>
  <script src="{% static 'js/mobile_access.js' %}" type="text/javascript" defer></script>
  <link rel="shortcut icon" href="{% static 'images/27146352.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
  <script src="{% static 'js/materializecss/materialize.min.js' %}"></script>
  <title>Wulkanowy | Aplikacja ucznia i rodzica</title>
</head>
<body>
   <div data-v-cd2b8d62 data-v-09be56d6 id="container">

     <nav>Wulkanowy web early access insider preview pre-alpha pre-beta alpha beta release canditate v. 0.0.1</nav>

     <ul id="slide-out" class="sidenav">
       <li><div class="user-view">
         <div class="background">
           <img src="{% static 'images/wallpaper.jpg' %}" width="300" height="176">
         </div>
         <a href="#user"><img class="circle" src="{% static 'images/27146352.png' %}"></a>
         <a href="#name"><span class="white-text name">John Doe</span></a>
         <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
       </div></li>
       <li><a id="grades_">Oceny</a></li>
       <li><a id="timetable_">Plan Lekcji</a></li>
       <li><a id="exams_">Sprawdziany</a></li>
       <li><a id="homeworks_">Zadania Domowe</a></li>
       <li><a id="attendance_">Frekwencjaa</a></li>
       <li><a id="messages_" class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons">email</i>Wiadomości</a></li>
       <ul id='dropdown1' class='dropdown-content'>
         <li><a href="#!">Odebrane</a></li>
         <li><a href="#!">Wysłane</a></li>
         <li><a href="#!">Napisz Wiadomość</a></li>
         <li><a href="#!">Usunięte</a></li>
       </ul>
       <li><a id="notes_">Uwagi</a></li>
       <li><a id="grades_" class='option'>Oceny</a></li>
       <li><a id="timetable_" class='option'>Plan Lekcji</a></li>
       <li><a id="exams_" class='option'>Sprawdziany</a></li>
       <li><a id="homeworks_" class='option'>Zadania Domowe</a></li>
       <li><a id="attendance_" class='option'>Frekwencja</a></li>
       <li><a id="messages_" class='option'>Wiadomości</a></li>
       <li><a id="notes_" class='option'>Uwagi</a></li>
       <li><a id="mobile_access_" class='option'>Dostęp Mobilny</a></li>
     </ul>
     <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

     <div id="content">

    </div>
   </div>
   <script>
     var elem = document.querySelector('.tabs');
     var options = {}
     var instance = M.Tabs.init(elem, options);

     // sidebar
     document.addEventListener('DOMContentLoaded', function() {
       var elems = document.querySelectorAll('.sidenav');
       var instances = M.Sidenav.init(elems, options);
     });

     // modal
     document.addEventListener('DOMContentLoaded', function() {
       var elems = document.querySelectorAll('.modal');
       var instances = M.Modal.init(elems, options);
     });

     var dropdowns = document.querySelectorAll('.dropdown-trigger')
     for (var i = 0; i < dropdowns.length; i++){
       M.Dropdown.init(dropdowns[i]);
     }

   </script>
  </body>
</html>