{% load static %}
{%load custom_filters_tags %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{% static 'start.css' %}" type="text/css" />
  <link rel="stylesheet" media="min-width: 768px" href="{% static 'start.css' %}" />
  <script src="{% static 'js/start.js' %}"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'images/27146352.png' %}">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Quicksand:wght@300&display=swap" rel="stylesheet">
  <title>Wulkanowy | Aplikacja ucznia i rodzica</title>
</head>
<body>
   <div data-v-cd2b8d62 data-v-09be56d6 id="container">
     <div id="menu">
      <h1 data-v-cd2b8d62="" class="logo">
        <img data-v-cd2b8d62 src="{% static 'images/wulkanowy-full-flat.4ff8222a.svg' %}" alt="Wulkanowy">
        <a href="/uwagi/"><div id="uwagi" class="option">Uwagi</div></a>
        <a href="/wiadomosci/"><div id="wiadomosci" class="option">Wiadomości</div></a>
        <a href="/frekwencja/"><div id="frekwencja" class="option">Frekwencja</div></a>
        <a href="/zadania/"><div id="zadania" class="option">Zadania Domowe</div></a>
        <a href="/sprawdziany/"><div id="sprawdziany" class="option">Sprawdziany</div></a>
        <a href="/plan/"><div id="plan" class="option">Plan Lekcji</div></a>
        <a href="/oceny/"><div id="oceny" class="option">Oceny</div></a>
      </h1>
     </div>
    <div class="content">
      <div class='column' style='width: 50%;'>
        <div class='header' style='background-color: #bcbcbc;'>UWAGI</div>
        {% if notes.0.content == 'Brak uwag!' %}
          <div class='item'>Brak uwag!</div>
        {% else %}
          {% for i in notes %}
            <div class='item'>{{ i.content|force_escape }}<br /><i>{{ i.category|force_escape }}</i><br /><div class='line'></div>{{ i.date|force_escape }}<br />{{ i.teacher|force_escape }}<br /><span style='color: {{ i.points|points_color }}'>{{ i.points|suffix|force_escape }}</span><br /></div>
          {% endfor %}
        {% endif %}
      </div>
      <div class='column' style='width: 50%;'>
        <div class='header' style='background-color: #bcbcbc;'>OSIĄGNIĘCIA</div>
        {% if achievements.0.content == 'Brak osiągnięć!' %}
          <div class='item'>Brak osiągnięć!</div>
        {% else %}
          {% for i in achievements %}
            <div class='item'>{{ i.content|force_escape }}</div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    </div>
</body>
</html>