@media screen and (max-width: 768px){
  .box {
    width: 60% !important;
    height: 45% !important;
  }
  .logo img[data-v-cd2b8d62] {
    margin: 0 !important;
    margin-top: -55% !important;
  }
  #icons
  {
  bottom: -36% !important;
  size: 70% !important;
  margin: 0 !important;
  margin-top: 20% !important;
  }
}
body {
  height: 100vh;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.3)),to(rgba(0,0,0,.3))),url(../img/wallpaper.b24bba72.jpg);
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(img/wallpaper.jpg);
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  margin: 0 !important;
  color: black;
}
.logo img[data-v-cd2b8d62] {
  width: 768px;
  max-width: 90vw;
  display: block;
  -webkit-filter: drop-shadow(0 5px 5px rgba(0,0,0,.2)) drop-shadow(0 8px 10px rgba(0,0,0,.14)) drop-shadow(0 3px 14px rgba(0,0,0,.12));
  filter: drop-shadow(0 5px 5px rgba(0,0,0,.2)) drop-shadow(0 8px 10px rgba(0,0,0,.14)) drop-shadow(0 3px 14px rgba(0,0,0,.12));
}
h1 {
  font-size: 2em;
  font-weight: bold;
}
h2 {
    color: red;
}
#container[data-v-cd2b8d62] {
  padding-bottom: 48px;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Roboto,sans-serif;
}
img{
  margin-top: -25em;
  margin-left: 0em;
  font-size: 70%;
}
.box{
  width: 25%;
  height: 55%;
  padding: 40px;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-bottom: 0px;
  background-color: #ededed;
  border-radius: 24px;
  box-shadow: 10px 10px 15px
}
.box h1{
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #565656;
  padding: 14px 18px;
  width: 75%;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 90%;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
.icon {
  width: 50px;
  margin: 0px;
  margin-left: 0.6%;
  margin-right: 0.6%;
  padding: 0px;
}
#icons
{
  position: relative;
  display: inline;
  bottom: -50%;
  margin-left: 0em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 80%;
}
a {
  font-size: 120%;
  color: blue;
  margin-bottom: 5%;
}
#help-box {
  font-size: 200%;
}
p{
  size: 0px;
  padding: 0px;
  margin: 0px;
  height: 48px;
  margin-bottom: 15px;
  margin-top: 10px;
}
label{
  size: 0px;
  padding: 0px;
  margin: 0px;
  font-size: 0px;
}
#button{
  margin-top: 4%;
  margin-bottom: 0px;
}
#con{
  margin-bottom: 12.5%;
}